body {
    background: #F9F9F9;
}

.head {
    background: #23252a !important;
}

.user {
    width: 60rem;
    margin: 5rem auto 0 auto;
    background: #fff;
    padding: 2rem;
    box-sizing: border-box;
}

.user > img {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    box-sizing: border-box;
    float: left;
}

.user > .info {
    width: 44rem;
    color: #4A4A4A;
    padding: 1.5rem;
    box-sizing: border-box;
    float: right;
}

.user > .info > p {
    font-size: 1.1rem;
    height: 3rem;
    line-height: 3rem;
}

.user > .info > .welcome {
    box-sizing: border-box;
    font-size: 1rem;
    color: #a5a5a5;
    border-bottom: 1px solid #f2f2f2;
}

.user > .info > .moneys {
    width: 100%;
}

.user > .info > .moneys > li {
    float: left;
    width: 33.3333%;
    height: 3rem;
    line-height: 3rem;
}

.user > .info > .moneys > li > span {
    color: #ff5436;
}

.record {
    width: 60rem;
    margin: 1rem auto auto auto;
    font-size: 1.1rem;
}

.record > .menu1 {
    float: left;
    width: 12rem;
    background: #fff;
}

.record > .menu1 > li {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #4A4A4A;
    cursor: pointer;
}

.record > .menu1 > li:not(.active):hover {
    color: #56abe4;
}

.record > .menu1 > .active {
    color: #3072F3;
}

.record > .menu2 {
    float: right;
    width: 47rem;
    background: #fff;
}

.record > .menu2 > li {
    float: left;
    width: 25%;
    height: 3rem;
    line-height: 3rem;
    border-bottom: solid #f2f2f2 0.05rem;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.record > .menu2 > li:hover {
    color: #56abe4;
    border-bottom: solid #56abe4 0.05rem;
}

.record > .menu2 > .active {
    color: #3072F3;
    border-bottom: solid #3072F3 0.05rem;
}

.record > .data {
    float: right;
    width: 47rem;
    background: #fff;
    padding: 1rem;
    box-sizing: border-box;
}

.footer {
    margin-top: 1rem;
}
