.data > li {
    list-style: none;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.2rem;
    box-sizing: border-box;
    border: 1px solid white;
}

.data > li:last-child {
    margin: 0;
}

.data > li:hover {
    border: 1px solid silver;
    box-sizing: border-box;
}

.none {
    width: 100%;
    height: 13rem;
    line-height: 13rem;
    font-size: 1.2rem;
    text-align: center;
    color: #4a4a4a;
}

.field > li > img {
    float: left;
    height: 5.6rem;
    width: 8rem;
}

.field > li > div {
    float: right;
    width: 35.6rem;
}

.field > li > div > h3 {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
}

.field > li > div > p {
    height: 1rem;
    line-height: 1rem;
    font-size: 0.8rem;
}

.field > li > div > .price {
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 1rem;
    color: #ff5436;
}

.field > li > div > .price > .btn {
    margin: 0.1rem;
    float: right;
    display: inline-block;
    padding: 0 0.8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.6rem;
    text-align: center;
    border: none;
    border-radius: 0.1rem;
    color: #f3f3f3;
    background: #3072F3;
}

.stock > li > h3 {
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #e4e6f0;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.stock > li > h3 > span {
    float: right;
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 400;
}

.stock > li > p {
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
    position: relative;
}

.stock > li > *:last-child {
    border-bottom: 0.01rem solid #E4E6F0;
    box-sizing: border-box;
}

.stock > li > p > a {
    color: #333333;
    text-decoration: underline;
}

.stock > li > p > span {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
    color: #ff5436;
}

.stock > li > p > .pay, .stock > li > p > .return {
    float: right;
    display: inline-block;
    padding: 0 0.8rem;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.6rem;
    color: #f3f3f3;
    background: #3072F3;
    border-radius: 0.1rem;
    text-decoration: none;
    border: none;
}

.stock > li > p > .return {
    background: #ff3029;
}

.stock > li > span {
    display: inline-block;
    width: 100%;
    line-height: 1.8rem;
    font-size: 0.9rem;
}

.data > .form {
    width: 100%;
    min-height: 10rem;
}

.data > .cash > input {
    display: block;
    margin: 3rem auto 1rem auto;
    width: 8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border: 1px solid silver;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.1rem;
}

.data > .cash > button {
    display: block;
    margin: 0 auto;
    padding: 0 0.4rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border: none;
    text-align: center;
    border-radius: 0.1rem;
    color: #FFFFFF;
    background: #3072F3;
}

.echarts > h3 {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
}

.echarts > h3 > select {
    float: right;
    margin-top: 0.2rem;
    height: 1.6rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    border-radius: 0.1rem;
    border: 1px solid silver;
}

.echarts > #e {
    width: 100%;
    height: 11rem;
}