.one {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid silver;
    height: 8rem;
    padding-bottom: 1rem;
}

.one:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.one > img {
    height: 8rem;
    width: 8rem;
    float: left;
}

.one > .info {
    height: 8rem;
    width: calc(100% - 16rem);
    float: right;
    color: #4a4a4a;
    padding-left: 0.2rem;
    box-sizing: border-box;
}

.one > .btns {
    height: 8rem;
    width: 8rem;
    float: right;
    display: table;
}

.one > .btns > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.one > .btns > span > .btn {
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    border: none;
    background: #ef5152;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 0.1rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.one > .btns > span > .btn:last-child {
    margin-bottom: 0;
}

.info > h3 {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1rem;
}

.info > span {
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.8rem;
}