<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能建站-首页</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/swiper/swiper.min.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/swiper/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/x-dot-template" id="bannerTpl">
        {{~it:v}}
        <img class="swiper-slide" src="{{=v}}">
        {{~}}
    </script>
    <script type="text/x-dot-template" id="fieldTpl">
        {{~it:v}}
        <div class="one" data-url="/field/field/detail.html?no={{=v.no}}">
            <img src="{{=v.images}}">
            <div class="oneInfo">
                <div class="title">{{=v.title}}</div>
                <div class="info">{{=v.address}}</div>
                <div class="info">{{=v.business_type}}&emsp;{{=v.invest_type}}</div>
                <div class="price">{{=v.budget_amount}}￥ / {{=v.lowest_amount}}￥ / {{=v.present_amount}}￥</div>
            </div>
        </div>
        {{~}}
    </script>
</head>
<body>
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper" id="bannerImg">
            <img class="swiper-slide" src="/img/index1.jpg">
        </div>
    </div>
    <script>window.html('bannerImg', 'bannerTpl', global.banner);</script>
    <div class="bannerIcon" data-url="/user/user/user.html"><i class="fa fa-user-o" aria-hidden="true"></i></div>
    <div class="bannerInfo">
        <div class="bannerTitle">专业 / 快速 / 省心</div>
        <div class="bannerDetail">
            <p>海量投资源</p>
            <p>省心上亿能</p>
        </div>
    </div>
</div>
<div class="search" data-url="/field/field/list.html">
    <i class="fa fa-search" aria-hidden="true"></i> 搜索场地
</div>

<div class="nav">
    <div data-url="/field/field/list.html?type=1">
        <span><img src="/img/icon_01.png"><br>最新</span>
    </div>
    <div data-url="/field/field/list.html?type=2">
        <span><img src="/img/icon_02.png"><br>融资</span>
    </div>
    <div data-url="/field/field/list.html?type=3">
        <span><img src="/img/icon_03.png"><br>规模</span>
    </div>
    <div data-url="/field/field/list.html?type=4">
        <span><img src="/img/icon_04.png"><br>起投</span>
    </div>
    <div data-url="/field/field/list.html?type=5">
        <span><img src="/img/icon_05.png"><br>综合</span>
    </div>
</div>

<div class="toolsBox">
    <span>常用工具</span>
    <div class="tools">
        <div data-url="/user/release/release-basis.html">
            <span><img src="/img/tool_01.png"><br>发布场地</span>
        </div>
        <div data-url="/user/user/basis-field.html">
            <span><img src="/img/tool_02.png"><br>我的场站</span>
        </div>
        <div data-url="/user/intention/list.html">
            <span><img src="/img/tool_03.png"><br>我的意向</span>
        </div>
        <div data-url="/estimate/estimate/estimate.html">
            <span><img src="/img/tool_04.png"><br>我的收益</span>
        </div>
        <div data-url="tel:">
            <span><img src="/img/tool_09.png"><br>客服电话</span>
        </div>
    </div>
</div>

<div class="recommend">
    <div class="titleBox">
        <div class="title">为您推荐</div>
        <div class="type">
            <span data-url="/index/index/index.html?type=3">规模</span>
            <span data-url="/index/index/index.html?type=2">火热</span>
            <span data-url="/index/index/index.html?type=1">最新</span>
        </div>
    </div>
    <div class="cont" id="field"></div>
    <script>window.html('field', 'fieldTpl', global.fields);</script>
    <div class="more" data-url="">更多项目</div>
</div>
<div class="foot">
    <span>蜀ICP备19002778号-1 Copyright © 2019 en.ink.<br>四川亿能天成科技有限公司</span>
</div>
<script>
    new Swiper('.swiper-container', {
        loop: true,
        grabCursor: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: true
        }
    });
    var type = window.getParams('type', 1);
    $('.type>span').removeClass('active');
    $('[data-url="/index/index/index.html?type=' + type + '"]').addClass('active');
    $('.more').data('url', '/field/field/list.html?type=' + type);
</script>
</body>
</html>