/backend/config/params.php
/charge/config/params.php
/pc/config/params.php
/backend/web/index.php
/charge/web/index.php
/pc/web/index.php
/backend/runtime/
/charge/runtime/
/pc/runtime/
/backend/web/assets/
/charge/web/assets/
/pc/web/assets/
.idea/
