<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-常见问题</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/problem.css">
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<ul class="problem">
    <li>
        <h3>NO.1</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">申请投资顾问的提条件是什么？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">只需要在"投资顾问认证"页面进行注册认证，推荐给用户注册投资，即开启赚钱额外奖励之旅。</span>
        </p>
    </li>
    <li>
        <h3>NO.2</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">申请投资顾问的提条件是什么？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">只需要在"投资顾问认证"页面进行注册认证，推荐给用户注册投资，即开启赚钱额外奖励之旅。</span>
        </p>
    </li>
    <li>
        <h3>NO.3</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">申请投资顾问的提条件是什么？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">只需要在"投资顾问认证"页面进行注册认证，推荐给用户注册投资，即开启赚钱额外奖励之旅。</span>
        </p>
    </li>
</ul>
</body>
</html>