<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-常见问题</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/problem.css">
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<ul class="problem">
    <li>
        <h3>NO.1</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">怎么充电？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">每个终端上有对应的二维码，打开微信扫一扫即可开始充电。</span>
        </p>
    </li>
    <li>
        <h3>NO.2</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">剩余的余额可以退还吗？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">如果您账户已支付完成所有订单，可以提交退款申请，我们将在5个工作日内原路退回您充值的支付账户</span>
        </p>
    </li>
    <li>
        <h3>NO.3</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">充电是怎么计费的呢？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">平台采用预充值平台计费模式，客户充电请预先充值余额。充电过程中余额过低，平台将自动结束充电。具体收费标准请前往电桩详情页查看。</span>
        </p>
    </li>
    <li>
        <h3>NO.4</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">客服电话</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg"><b class="tel">点击拨打</b></span>
        </p>
    </li>
</ul>
<script>
    $('.tel').click(function () {
        window.location.href = 'tel:' + global.sysTel;
    });
</script>
</body>
</html>