<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能建站-股权下单</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/buy.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/js/modal.js" type="text/javascript" charset='utf-8'></script>
    <script type="text/x-dot-template" id="orderTpl">
        <h3>| 场站信息</h3>
        <div class="field clear">
            <img class="fl" src="{{=it.images[0]}}" alt="">
            <div class="fr">
                <h4>{{=it.title}}</h4>
                <p>场站编号: {{=it.no}}</p>
                <p>归属企业: {{=it.abridge}}</p>
                <p>融资情况: &yen;{{=it.all}} | &yen;{{=it.now}}</p>
            </div>
            <span class="fl">项目地址: {{=it.address}}</span>
        </div>
        <h3>| 订单信息</h3>
        <div class="info clear">
            <div class="fl">
                <h4>股权单价</h4>
                <p>数量</p>
            </div>
            <div class="fr">
                <h4>&yen;{{=it.univalence}}</h4>
                <p>
                    <button class="cut doAmount" type="button"><i class="fa fa-minus"></i></button>
                    <input type="text" class="num" value="1" readonly autocomplete="off">
                    <button class="add doAmount" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </p>
            </div>
        </div>
    </script>
</head>
<body>
<div class="header">
    <i class="fa fa-angle-left fl back" aria-hidden="true"></i>
    <img class="fl back" src="/img/logo.png"/>
    <i class="fa fa-user-o fr" data-url="/user/user/center.html" aria-hidden="true"></i>
</div>
<div class="order" id="order"></div>
<div class="sub">
    <div class="fl price">合计: <span></span></div>
    <button class="fr up" type="button">确认提交</button>
</div>
<script>
    window.html('order', 'orderTpl', global.data);

    $('.price>span').html('&yen;' + global.data.univalence);

    $('.doAmount').click(function () {
        var num = parseInt($('.num').val());
        if ($(this).hasClass('cut')) {
            if (num > 1) {
                num = num - 1;
            }
        }
        if ($(this).hasClass('add')) {
            if (num < global.data.max) {
                num = num + 1;
            } else {
                window.showMsg('剩余最多可买入' + global.data.max + '股');
            }
        }
        $('.num').val(num);
        $('.price>span').html('&yen;' + (num * global.data.univalence).toFixed(2));
    });

    $('.up').click(function () {
        window.wait.open();
        window.location.href = '/field/intention/add.html?no=' + global.data.no + '&num=' + $('.num').val();
    });

</script>
</body>
</html>