<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-电站详情</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/swiper/swiper.min.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/js/wx.js"></script>
    <script src="/js/coordtransform.js"></script>
    <script type="text/javascript" src="/swiper/swiper.min.js"></script>
    <script type="text/x-dot-template" id="fieldTpl">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{~it.images:v}}
                <div class="swiper-slide">
                    <img src="{{=v}}">
                </div>
                {{~}}
            </div>
            <h3>{{=it.name}}</h3>
        </div>
        <div class="fieldInfo clear">
            <p class="tit">{{=it.address}}</p>
            <p><label>开放时间：</label>24小时</p>
            <p><label>枪口数量：</label>[ <span class="txt_blue">{{=it.guns.count}}</span> ]</p>
            <p><label>停 车 费：</label>----</p>
            <p><label>空闲枪口：</label>[ <span class="txt_green">{{=it.guns.count -it.guns.used}}</span> ]</p>
        </div>
    </script>
    <script type="text/x-dot-template" id="pilesTpl">
        {{~it:v}}
        <li class="clear">
            <div class="fl"><span><img src="{{=v.image}}"></span></div>
            <div class="fr">
                <p class="tit">{{=v.no}}</p>
                <p><label>电桩型号：</label>{{=v.name}}</p>
                <p><label>额定功率：</label>{{=v.power}}</p>
                <p><label>电桩标准：</label>{{=v.standard}}</p>
                <p data-url="/field/pile/rule.html?no={{=v.no}}">
                    <label>当前电价：</label>E:{{=v.rule[2]}}/S:{{=v.rule[3]}} 详情>>
                </p>
            </div>
        </li>
        {{~}}
    </script>
</head>
<body>
<div class="field" id="field"></div>
<ul class="piles" id="piles"></ul>
<div class="goTo"><i class="fa fa-location-arrow" aria-hidden="true"></i> 到那儿去</div>
<script>
    window.html('field', 'fieldTpl', global.field);
    window.html('piles', 'pilesTpl', global.piles);
    new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false
        },
    });
    wx.config({
        appId: global.jsApi.appId,
        timestamp: global.jsApi.time,
        nonceStr: global.jsApi.nonceStr,
        signature: global.jsApi.signature,
        jsApiList: ['openLocation']
    });
    wx.ready(function () {
        var point = coordtransform.bd09togcj02(global.field.lng, global.field.lat);
        $('.goTo').on('click', function () {
            wx.openLocation({
                latitude: point.lat,
                longitude: point.lng,
                name: global.field.name,
                address: global.field.address,
                scale: 13,
            });
        });
    });
    wx.error(function (re) {
        $.cookie('message-data', '系统错误', {path: '/'});
        window.history.go(-1);
    });

    var last = $.cookie('step' + global.now) || '';
    last = last.split(',');
    if (!window.in_array(last, global.field.no)) {
        last.unshift(global.field.no);
        $.cookie('step' + global.now, last.join(','), {path: '/', expires: 3});
    }
</script>
</body>
</html>