<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-发现</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/map.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="/js/wx.js"></script>
    <script type="text/javascript" src="/js/tx.map.gl.js"></script>
    <script type="text/x-dot-template" id="infoTpl">
        <h3>
            <a href="/field/field/info.html?no={{=it.id}}">{{=it.properties.title}}</a>
            <i class="fa fa-paper-plane-o" aria-hidden="true" data-lat="{{=it.position.lat}}"
               data-lng="{{=it.position.lng}}" data-name="{{=it.properties.title}}"
               data-address="{{=it.properties.address}}"></i>
        </h3>
        <p>{{=it.properties.address}} {{=it.distance}}km</p>
    </script>
</head>
<body>
<div id="map"></div>
<div class="city"><img src="/img/loading.gif"></div>
<img class="back" src="/img/mapBack.png">
<div id="info"></div>
</body>
<script>
    wx.config({
        appId: global.jsApi.appId,
        timestamp: global.jsApi.time,
        nonceStr: global.jsApi.nonceStr,
        signature: global.jsApi.signature,
        jsApiList: ['getLocation', 'openLocation']
    });
    wx.ready(function () {
        wx.getLocation({
            type: 'gcj02',
            success: function (re) {
                var point = {
                    lat: re.latitude,
                    lng: re.longitude,
                    city: '',
                };
                $.ajax({
                    url: 'https://apis.map.qq.com/ws/geocoder/v1/',
                    data: {
                        'location': re.latitude + ',' + re.longitude,
                        'key': 'LF3BZ-KUMCJ-RGZFW-F6HVB-AUIEJ-45BIO',
                        'output': 'jsonp'
                    },
                    dataType: 'jsonp',
                    success: function (re) {
                        if (re.status === 0) {
                            point.city = re.result.address_component.city;
                            $('.city').html('当前城市：' + point.city);
                            $.ajax({
                                url: 'https://apis.map.qq.com/place_cloud/search/region',
                                data: {
                                    'region': point.city,
                                    'table_id': '5d490255d31eea5b7b36b922',
                                    'key': 'LF3BZ-KUMCJ-RGZFW-F6HVB-AUIEJ-45BIO',
                                    'output': 'jsonp'
                                },
                                dataType: 'jsonp',
                                success: function (re) {
                                    if (re.status === 0) {
                                        var center = new TMap.LatLng(point.lat, point.lng);
                                        var map = new TMap.Map('map', {center: center, pitch: 45, zoom: 16});
                                        var spots = [{
                                            "id": "self",
                                            "styleId": "marker1",
                                            "position": center,
                                        }];
                                        $.each(re.result.data, function (k, v) {
                                            spots.push({
                                                "id": v.ud_id,
                                                "styleId": 'marker2',
                                                "position": new TMap.LatLng(v.location.lat, v.location.lng),
                                                "properties": v
                                            });
                                        });
                                        window.showMsg('共为您查询到' + re.result.data.length + '个充电站');
                                        var marker = new TMap.MultiMarker({
                                            id: "marker-layer",
                                            map: map,
                                            styles: {
                                                "marker1": new TMap.MarkerStyle({
                                                    "width": parseInt((0.7 * window.remSize).toFixed(0)),
                                                    "height": parseInt((0.7 * window.remSize).toFixed(0)),
                                                    "src": "/img/marker1.png",
                                                }),
                                                "marker2": new TMap.MarkerStyle({
                                                    "width": parseInt((0.8 * window.remSize).toFixed(0)),
                                                    "height": parseInt((0.8 * window.remSize).toFixed(0)),
                                                    "src": "/img/marker2.png",
                                                }),
                                            },
                                            geometries: spots
                                        });
                                        marker.on('touchstart', function (evt) {
                                            if (evt.geometry.id !== 'self') {
                                                evt.geometry.distance = window.distance(evt.geometry.position.lat, evt.geometry.position.lng, center.lat, center.lng).toFixed(2);
                                                window.html('info', 'infoTpl', evt.geometry);
                                                $('#info').show();
                                            }
                                        });

                                        $('#map>div').on('touchstart', function () {
                                            $('#info').hide();
                                        });

                                        $('#info').on('click', 'i', function () {
                                            wx.openLocation({
                                                latitude: $(this).data('lat'),
                                                longitude: $(this).data('lng'),
                                                name: $(this).data('name'),
                                                address: $(this).data('address'),
                                                scale: 13,
                                            });
                                        });

                                        $('.back').click(function () {
                                            map.panTo(center);
                                        });
                                    } else {
                                        $.cookie('message-data', '拉取电站失败', {path: '/'});
                                        window.history.go(-1);
                                    }
                                },
                                error: function () {
                                    $.cookie('message-data', '拉取电站错误', {path: '/'});
                                    window.history.go(-1);
                                }
                            });
                        } else {
                            $.cookie('message-data', '拉取城市信息失败', {path: '/'});
                            window.history.go(-1);
                        }
                    },
                    error: function () {
                        $.cookie('message-data', '拉取城市信息错误', {path: '/'});
                        window.history.go(-1);
                    }
                });
            },
            cancel: function (re) {
                $.cookie('message-data', '授权取消', {path: '/'});
                window.history.go(-1);
            },
            fail: function (re) {
                $.cookie('message-data', '授权错误', {path: '/'});
                window.history.go(-1);
            }
        });
    });
    wx.error(function (re) {
        $.cookie('message-data', '系统错误', {path: '/'});
        window.history.go(-1);
    });
</script>
</html>