<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-电站地图</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/map.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript"
            src="https://map.qq.com/api/gljs?v=1.exp&key=LF3BZ-KUMCJ-RGZFW-F6HVB-AUIEJ-45BIO"></script>
</head>
<body>
<div id="map"></div>
<img class="back" src="/img/mapBack.png">
</body>
<script>
    wx.config({
        debug: false,
        appId: global.jsApi.appId,
        timestamp: global.jsApi.time,
        nonceStr: global.jsApi.nonceStr,
        signature: global.jsApi.signature,
        jsApiList: ['getLocation']
    });
    wx.ready(function () {
        wx.getLocation({
            type: 'gcj02',
            success: function (re) {
                var center = new TMap.LatLng(re.latitude, re.longitude);
                var map = new TMap.Map('map', {center: center, pitch: 45, zoom: 11});
                var marker = new TMap.MultiMarker({
                    id: "marker-layer",
                    map: map,
                    styles: {
                        "marker1": new TMap.MarkerStyle({
                            "width": 1.6 * window.remSize,
                            "height": 1.6 * window.remSize,
                            "src": "/img/marker1.png",
                            "anchor": {x: 0.8 * window.remSize, y: 0.8 * window.remSize},
                        }),
                        "marker2": new TMap.MarkerStyle({
                            "width": 1.2 * window.remSize,
                            "height": 1.2 * window.remSize,
                            "src": "/img/marker2.png",
                            "anchor": {x: 0.6 * window.remSize, y: 0.6 * window.remSize},
                        }),
                    },
                    geometries: [{
                        "id": "self",
                        "styleId": "marker1",
                        "position": center,
                    }]
                });
                $.ajax({
                    url: 'https://apis.map.qq.com/place_cloud/search/nearby',
                    data: {
                        'location': re.latitude + ',' + re.longitude,
                        'radius': 10000,
                        'auto_extend': 1,
                        'table_id': '5d490255d31eea5b7b36b922',
                        'key': 'LF3BZ-KUMCJ-RGZFW-F6HVB-AUIEJ-45BIO',
                        'output': 'jsonp'
                    },
                    dataType: 'jsonp',
                    success: function (re) {
                        if (re.status === 0 && re.message === '成功' && re.result.count > 0) {
                            var spots = [];
                            $.each(re.result.data, function (k, v) {
                                spots.push({
                                    "id": v.ud_id,
                                    "styleId": 'marker2',
                                    "position": new TMap.LatLng(v.location.lat, v.location.lng),
                                    "properties": v
                                });
                            });
                            marker.add(spots);
                            marker.on('click', function (evt) {
                                window.showMsg('111');
                            });
                        } else {
                            window.showMsg('未查询到附近充电站');
                        }
                    }
                });
                $('.back').click(function () {
                    map.panTo(center);
                });
            },
            cancel: function (re) {
                $.cookie('message-data', '授权取消', {path: '/'});
                window.history.go(-1);
            },
            fail: function (re) {
                $.cookie('message-data', '授权错误', {path: '/'});
                window.history.go(-1);
            }
        });
    });
    wx.error(function (re) {
        $.cookie('message-data', '系统错误', {path: '/'});
        window.history.go(-1);
    });
</script>
</html>