<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-充值记录</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/order.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/x-dot-template" id="orderTpl">
        {{?it.data.length}}
        {{~it.data:v}}
        <li>
            <p>{{=v.created_at}}</p>
            <ul>
                <li class="status">{{=v.status}}</li>
                <li><label>充值金额 : </label>{{=v.money}}元</li>
                <li><label>当前余额 : </label>{{=v.balance}}元</li>
                <li><label>支付方式 : </label>{{=v.source}}</li>
            </ul>
        </li>
        {{~}}
        {{??}}
        <li class="none">
            <p>{{=it.now}}</p>
            <div>
                未查询到您的充值信息
            </div>
        </li>
        {{?}}
    </script>
</head>
<body>
<ul class="orders" id="order"></ul>
<script>window.html('order', 'orderTpl', global);</script>
</body>
</html>