<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-充值记录</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/investList.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/x-dot-template" id="listTpl">
        {{?it.data.length}}
        {{~it.data:v}}
        <li class="clear">
            <span>{{=v.status}}</span>
            <span class="txt_red">+{{=v.money}}</span>
            <span>{{=v.created_at}}</span>
            <span class="txt_gray">当前余额: {{=v.balance}}</span>
        </li>
        {{~}}
        {{??}}
        <li class="none">
            未查询到您的充值信息
            <p class="txt_gray">{{=it.now}}</p>
        </li>
        {{?}}
    </script>
</head>
<body>
<ul class="list" id="list"></ul>
<script>window.html('list', 'listTpl', global);</script>
</body>
</html>