<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-充电订单</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/order.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/x-dot-template" id="orderTpl">
        {{?it.order.length}}
        {{~it.order:v}}
        <li>
            <p>{{=v.created_at}}</p>
            <ul>
                {{?v.status=='启动中' || v.status=='充电中'}}
                <li class="status">
                    {{=v.status}}
                    <i class="fa fa-angle-double-right" aria-hidden="true"
                       data-url="/c/s/c.html?no={{=v.no}}"></i>
                </li>
                {{??v.status=='充电结束'}}
                <li class="status">
                    {{=v.status}}
                    <i class="fa fa-angle-double-right" aria-hidden="true"
                       data-url="/order/charge/pay.html?no={{=v.no}}"></i>
                </li>
                {{??}}
                <li class="status">{{=v.status}}</li>
                {{?}}
                <li><label>订单编号 : </label>{{=v.no}}</li>
                <li><label>充电电量 : </label>{{=v.e.toFixed(2)}}kwh</li>
                <li><label>充电金额 : </label>{{=v.money.toFixed(2)}}元</li>
                <li><label>充电电站 : </label>{{=v.name}}</li>
            </ul>
        </li>
        {{~}}
        {{??}}
        <li class="none">
            <p>{{=it.now}}</p>
            <div>
                未查询到您的订单信息
            </div>
        </li>
        {{?}}
    </script>
</head>
<body>
<ul class="orders" id="order"></ul>
<script>window.html('order', 'orderTpl', global);</script>
</body>
</html>