<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能建站-我的收益</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/income.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/x-dot-template" id="allTpl">
        <div>
            <label>总共收益</label>
            <p>&yen;{{=it.all}}</p>
        </div>
        <div>
            <label>投资收益</label>
            <p>&yen;{{=it.invest}}</p>
        </div>
        <div>
            <label>场站收益</label>
            <p>&yen;{{=it.field}}</p>
        </div>
    </script>
    <script type="text/x-dot-template" id="esTpl">
        {{~it:v}}
        <option value="{{=v}}">{{=v}}年</option>
        {{~}}
    </script>
</head>
<body>
<div class="header">
    <i class="fa fa-angle-left fl back" aria-hidden="true"></i>
    <img class="fl back" src="/img/logo.png"/>
    <i class="fa fa-user-o fr" data-url="/user/user/center.html" aria-hidden="true"></i>
</div>
<div class="all clear" id="all"></div>
<div class="echarts">
    <h3>总共收益<select id="es1" data-type="3,4"></select></h3>
    <div id="e1"></div>
</div>
<div class="echarts">
    <h3>投资收益<select id="es2" data-type="3"></select></h3>
    <div id="e2"></div>
</div>
<div class="echarts">
    <h3>场地收益<select id="es3" data-type="4"></select></h3>
    <div id="e3"></div>
</div>
<script>
    window.html('all', 'allTpl', global);
    window.html('es1', 'esTpl', global.years);
    window.html('es2', 'esTpl', global.years);
    window.html('es3', 'esTpl', global.years);
    var e1 = echarts.init(document.getElementById('e1'));
    var e2 = echarts.init(document.getElementById('e2'));
    var e3 = echarts.init(document.getElementById('e3'));
    var option = {
        grid: {
            left: 'center',
            top: 'middle',
            width: '65%',
            height: '70%',
        },
        yAxis: {
            type: 'value',
        },
        xAxis: {
            type: 'category',
            data: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
        },
        series: [{
            data: [],
            type: 'line',
        }]
    };
    option.series[0].data = global.e1;
    e1.setOption(option);
    option.series[0].data = global.e2;
    e2.setOption(option);
    option.series[0].data = global.e3;
    e3.setOption(option);
    $('#es1,#es2,#es3').on('change', function () {
        var now = $(this);
        $.getJSON('/user/income/data.html', {type: now.data('type'), year: now.val()}, function (re) {
            if (re.type) {
                option.series[0].data = re.data;
                if (now.prop('id') === 'es1') {
                    e1.setOption(option);
                }
                if (now.prop('id') === 'es2') {
                    e2.setOption(option);
                }
                if (now.prop('id') === 'es3') {
                    e3.setOption(option);
                }
            }
        })
    });
</script>
</body>
</html>