* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}

a {
    text-decoration: none;
    color: #d3d3d3;
}

ol, ul {
    list-style: none;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer, *[data-url] {
    cursor: pointer;
}

input, textarea, select {
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

body {
    overflow-x: hidden;
    color: #4a4a4a;
}

.hide {
    display: none;
}

.clear {
    zoom: 1;
}

.clear:after {
    clear: both;
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33.333333%;
}

.w25 {
    width: 25%;
}

.w20 {
    width: 20%;
}

.txt_red {
    color: #FF0000;
}

.txt_org {
    color: #FF6600;
}

.txt_blue {
    color: #3366ff;
}

.txt_green {
    color: #06A156;
}

.txt_gray {
    color: #909090;
}

.txt_golden {
    color: #F8CC08;
}

.bg_blue {
    background: #3366ff;
}

.bg_red {
    background: #FF4C38;
}

.layui-layer-loading {
    width: 100% !important;
}

.layui-layer-hui {
    width: 5rem !important;
}

.layui-layer-content {
    margin: 0 auto;
}

.layui-layer {
    position: absolute !important;
    top: 45% !important;
}

.wait {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.wait > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 0.6rem;
}

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 10rem;
    height: 1.5rem;
    padding: 0 0.32rem;
    border-bottom: 0.01rem solid #E4E6F0;
    background-color: #fff;
    box-sizing: border-box;
}

.header i {
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: #3072F3;
}

.header i:first-child {
    font-size: 0.9rem;
}

.header img {
    width: 1.7rem;
    height: 0.78rem;
    margin: 0.36rem 0.1rem;
}

.foot {
    width: 10rem;
    height: 1.6rem;
    display: table;
    background: #2f3130;
}

.foot > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0.24rem;
    color: #FFFFFF;
}

