<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能科技</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/center.css" rel="stylesheet">
    <link href="/css/center-list.css" rel="stylesheet">
    <script src="/js/common.js" type="text/javascript" charset='utf-8'></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/x-dot-template" id="headMenuTpl">
        <li><a href="/index/index/index.html">首页<span></span></a></li>
        <li><a href="/field/field/list.html">项目<span></span></a></li>
        <li><a href="/news/news/list.html">新闻<span></span></a></li>
        <li class="nav" onselectstart="return false">
            关于 <i class="fa fa-caret-down" aria-hidden="true"></i>
            <span></span>
            <ul>
                <li><a href="/about/about/company.html">公司介绍</a></li>
                <li><a href="/about/about/partner.html">合作伙伴</a></li>
                <li><a href="/about/about/contact.html">联系我们</a></li>
                <li><a href="/about/about/guide.html">用户指南</a></li>
            </ul>
        </li>
        <li class="active" title="个人中心">
            <a href="/user/user/center.html">
                {{=it.user.tel}}<span></span>
            </a>
        </li>
        <li><a href="/user/login/logout.html">退出<span></span></a></li>
    </script>
    <script type="text/x-dot-template" id="friendTpl">
        {{~it:v:k}}
        <span>
            <img src="{{=v.logo}}" alt="{{=v.name}}logo">
            <a href="{{=v.url}}" target="_blank">{{=v.name}}</a>
        </span>
        {{~}}
    </script>
    <script type="text/x-dot-template" id="infoTpl">
        <p>尊敬的用户: {{=it.user.tel}}</p>
        <p class="welcome">欢迎登录亿能建站投资平台</p>
        <ul class="moneys clear">
            <li>总共收益: <span>&yen;{{=it.all}}</span></li>
            <li>已提收益: <span>&yen;{{=it.out}}</span></li>
            <li>剩余收益: <span>&yen;{{=it.surplus}}</span></li>
        </ul>
    </script>
    <script type="text/x-dot-template" id="sTpl">
        {{~it:v}}
        <option value="{{=v}}">{{=v}}年</option>
        {{~}}
    </script>
</head>
<body>
<div class="head">
    <div class="headContent">
        <img data-url="/index/index/index.html" src="/img/logo.png" alt="四川亿能天成新能源logo">
        <ul id="headMenu"></ul>
        <script>window.html('headMenu', 'headMenuTpl', global);</script>
    </div>
</div>
<div class="user clear">
    <img src="/img/user.jpg" alt="">
    <div class="info" id="info"></div>
    <script>window.html('info', 'infoTpl', global);</script>
</div>
<div class="record clear">
    <ul class="menu1">
        <li data-url="/user/user/center.html">
            <i class="fa fa-bandcamp" aria-hidden="true"></i>
            我的场站
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li data-url="/user/intention/list.html">
            <i class="fa fa-building" aria-hidden="true"></i>
            我的意向
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li data-url="/user/stock/list.html">
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            我的股权
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li class="active" data-url="/user/income/list.html">
            <i class="fa fa-money" aria-hidden="true"></i>
            我的收益
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li data-url="/user/cash/create.html">
            <i class="fa fa-superpowers" aria-hidden="true"></i>
            我的提现
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
        <li data-url="/user/field/create.html">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            发布场站
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
    </ul>
    <ul class="menu2 clear">
        <li data-url="/user/income/list.html">我的收益</li>
        <li data-url="/user/income/all.html">总共收益</li>
        <li class="active" data-url="/user/income/invest.html">投资收益</li>
        <li data-url="/user/income/field.html">场地收益</li>
    </ul>
    <div class="data stock">
        <div class="echarts">
            <h3>投资收益<select id="s"></select></h3>
            <div id="e"></div>
        </div>
    </div>
    <script>window.html('s', 'sTpl', global.years);</script>
</div>
<div class="footer">
    <div class="info">
        <div>
            <h4>联系我们</h4>
            <p>客服电话：028-67874259</p>
            <p>商务沟通：xl@en.ink</p>
            <p>服务时间：09:00-18:00</p>
            <p>公司地址：四川省成都市高新区天府软件园G5 3楼</p>
        </div>
        <div>
            <h4>项目</h4>
            <a href="/user/field/create.html">发起项目</a><br/>
            <a href="/field/field/list.html">投资项目</a><br/>
        </div>
        <div>
            <h4>关于</h4>
            <a href="/about/about/company.html">公司介绍</a><br/>
            <a href="/about/about/partner.html">合作伙伴</a><br/>
            <a href="/about/about/contact.html">联系我们</a><br/>
            <a href="/about/about/guide.html">用户指南</a><br/>
        </div>
        <div>
            <img src="/img/qrCode.jpg" alt="四川亿能天成微信公众号"><br/>
            扫码关注微信公众号
        </div>
    </div>
    <div class="friend" id="friend"></div>
    <script>window.html('friend', 'friendTpl', global.friends);</script>
    <div class="icp">四川亿能天成科技有限公司 蜀ICP备19002778号-1 Copyright © 2019 en.ink 市场有风险 投资需谨慎</div>
</div>
<script>
    $('.nav').hover(
        function () {
            $(this).find('ul').slideToggle(200);
            var i = $(this).find('i');
            if (i.hasClass("rotate180")) {
                i.removeClass("rotate180");
                i.addClass("rotate0");
            } else {
                i.removeClass("rotate0");
                i.addClass("rotate180");
            }
        },
        function () {
            $(this).find('ul').slideToggle(200);
            var i = $(this).find('i');
            if (i.hasClass("rotate180")) {
                i.removeClass("rotate180");
                i.addClass("rotate0");
            } else {
                i.removeClass("rotate0");
                i.addClass("rotate180");
            }
        }
    );
    var e = echarts.init(document.getElementById('e'));
    var option = {
        grid: {
            left: 'center',
            top: 'middle',
            width: '65%',
            height: '70%',
        },
        yAxis: {
            type: 'value',
        },
        xAxis: {
            type: 'category',
            data: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
        },
        series: [{
            data: global.data,
            type: 'line',
        }]
    };
    e.setOption(option);
    $('#e').on('change', function () {
        var now = $(this);
        $.getJSON('/user/income/data.html', {type: 4, year: now.val()}, function (re) {
            if (re.type) {
                option.series[0].data = re.data;
                e.setOption(option);
            }
        })
    });
</script>
</body>
</html>