<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能充电-常见问题</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/problem.css">
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div class="header">
    <i class="fa fa-angle-left fl back" aria-hidden="true"></i>
    <img class="fl back" src="/img/logo.png"/>
    <i class="fa fa-user-o fr" data-url="/user/user/center.html" aria-hidden="true"></i>
</div>
<ul class="problem">
    <li>
        <h3>NO.1</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">怎么结算收益？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">用户充电后，每笔充电订单根据投资者所占股权比例实时结算到账户收益。</span>
        </p>
    </li>
    <li>
        <h3>NO.2</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">怎么取出收益？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">在个人中心-我的收益里面，可以查询到当前剩余可提收益。每月您可进行一次提现申请完成提现。</span>
        </p>
    </li>
    <li>
        <h3>NO.3</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">收益还可用作什么？</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg">收益除了提现之外，后续还将开通收益直接进行下一次的投资付款、收益兑换充电余额等，更多功能正在开发中，敬请期待。</span>
        </p>
    </li>
    <li>
        <h3>NO.4</h3>
        <p class="q clear">
            <span class="head">Q</span>
            <span class="msg">客服电话</span>
        </p>
        <p class="a clear">
            <span class="head">A</span>
            <span class="msg"><b class="tel">点击拨打</b></span>
        </p>
    </li>
</ul>
<script>
    $('.tel').click(function () {
        window.location.href = 'tel:' + global.sysTel;
    });
</script>
</body>
</html>