<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能建站-个人中心</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/center.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/x-dot-template" id="userTpl">
        <span><img src="/img/user.png" alt=""><br>{{=it.tel}}</span>
    </script>
</head>
<body>
<div class="header">
    <i class="fa fa-angle-left fl" data-url="/index/idnex/index.html" aria-hidden="true"></i>
    <img class="fl" data-url="/index/idnex/index.html" src="/img/logo.png"/>
    <i class="fa fa-user-o fr" data-url="/user/user/center.html" aria-hidden="true"></i>
</div>
<div class="userInfo" id="user"></div>
<div class="menuList">
    <div class="menu" data-url="/user/field/add.html">
        <i class="fa fa-pencil-square fl" aria-hidden="true" style="color:#F7B086;"></i>
        <div class="name">发布场站</div>
        <i class="fa fa-angle-right fr" aria-hidden="true"></i>
    </div>
    <div class="menu" data-url="/user/field/list.html">
        <i class="fa fa-bandcamp fl" aria-hidden="true" style="color:#84CB7F;"></i>
        <div class="name">我的场站</div>
        <i class="fa fa-angle-right fr" aria-hidden="true"></i>
    </div>
    <div class="menu" data-url="/user/intention/list.html">
        <i class="fa fa-thumb-tack fl" aria-hidden="true" style="color:#7FD1CC;"></i>
        <div class="name">我的参与</div>
        <i class="fa fa-angle-right fr" aria-hidden="true"></i>
    </div>
    <div class="menu" data-url="/user/income/list.html">
        <i class="fa fa-money fl" aria-hidden="true" style="color:#6DB8F7;"></i>
        <div class="name">我的收益</div>
        <i class="fa fa-angle-right fr" aria-hidden="true"></i>
    </div>
    <div class="menu service">
        <i class="fa fa-volume-control-phone fl" aria-hidden="true" style="color: #4371FB;"></i>
        <div class="name">客服电话</div>
        <i class="fa fa-angle-right fr" aria-hidden="true"></i>
    </div>
</div>
<div class="logout" data-url="/user/login/logout.html">退出登录</div>
<script>
    window.html('user', 'userTpl', global.user);
    $('.service').click(function () {
        window.location.href = 'tel:' + global.user.tel;
    });
</script>
</body>
</html>