<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>亿能充电-充电</title>
    <link rel="stylesheet" href="/css/charge.css">
    <link rel="stylesheet" href="/css/radialIndicator.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/radialindicator.js"></script>
    <script type="text/x-dot-template" id="bodyTpl">
        <h3 class="title">{{=it.fieldName}}</h3>
        <div class="demo">
            <div class="name"></div>
            <div class="bolt"><i class="fa fa-bolt" aria-hidden="true"></i></div>
        </div>
        <ul class="charge_process">
            <li>
                <p>{{=it.power}}</p>
                功率(kw)
            </li>
            <li>
                <p>{{=it.electricQuantity}}</p>
                充电(kwh)
            </li>
            <li>
                <p>{{=it.basisMoney + it.serviceMoney}}</p>
                费用(元)
            </li>
        </ul>
        <ul class="charge_time">
            <li>
                <span><i class="fa fa-jpy" aria-hidden="true"></i>&emsp;当前电价(元)</span>
                <span data-url="/field/pile/rule.html?no={{=it.pile}}">
                    E:{{=it.rule[2]}}/S:{{=it.rule[3]}}
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </span>
            </li>
            <li>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i>&emsp;充电时长</span>
                <span>{{=it.duration}}</span>
            </li>
        </ul>
        <div class="charge_end">
            结束充电
        </div>
    </script>
</head>
<body id="body">
<h3 class="title">--------</h3>
<div class="demo">
    <div class="name"></div>
    <div class="bolt"><i class="fa fa-bolt" aria-hidden="true"></i></div>
</div>
<ul class="charge_process">
    <li>
        <p>0</p>
        功率(kw)
    </li>
    <li>
        <p>0.00</p>
        充电(度)
    </li>
    <li>
        <p>0.00</p>
        费用(元)
    </li>
</ul>
<ul class="charge_time">
    <li>
        <span><i class="fa fa-jpy" aria-hidden="true"></i>&emsp;当前电价(元)</span>
        <span data-url="">
            E:0.8/S:0.6
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </span>
    </li>
    <li>
        <span><i class="fa fa-clock-o" aria-hidden="true"></i>&emsp;充电时长</span>
        <span>00:00:00</span>
    </li>
</ul>
<div class="charge_end">
    结束充电
</div>
</body>
<script>
    window.wait().open();
    $('.title').text(global.info.fieldName);
    $('.demo').radialIndicator().data('radialIndicator').value(0);
    var socket = new WebSocket('ws://47.99.36.149:20001');
    socket.onopen = function () {
        socket.send(JSON.stringify(global.info));
        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (data.code === 205 || data.code === 206 || data.code === 207) {
                window.wait().close();
                data.data.fieldName = global.info.fieldName;
                data.data.duration = timeToStr(data.data.duration);
                window.html('body', 'bodyTpl', data.data);
                $('.demo').radialIndicator().data('radialIndicator').value(data.data.soc);
                if (data.code === 206 || data.code === 207) {
                    window.showMsg(global.code[data.code]);
                    load = layer.load(2, {shade: [0.6, '#eeeeee']});
                }
                return;
            }
            $.cookie('message-data', global.code[data.code], {path: '/'});
            if (data.code === 201) {
                window.showMsgDo(global.code[data.code], 3, function () {
                    window.location.href = '/order/invest/invest.html';
                });
                return;
            }
            if (data.code === 208) {
                window.showMsgDo(global.code[data.code], 3, function () {
                    window.location.href = '/order/charge/pay.html?orderNo=' + data.data.no;
                });
                return;
            }
            if (data.code === 200 || data.code === 202 || data.code === 203 || data.code === 209) {
                window.showMsgDo(global.code[data.code], 3, function () {
                    window.history.go(-1);
                });
                return;
            }
            if (data.code === 301) {
                window.wait().close();
                window.showMsg(global.code[data.code]);
                return;
            }
        };
        $('.charge_end').click(function () {
            window.wait().open();
            socket.send(JSON.stringify({do: 'endCharge', pile: global.info.pile, gun: global.info.gun}));
        });
    };
    socket.onerror = function () {
        window.wait().close();
        window.showMsgDo('链接服务器错误,请稍后再试', 3, function () {
            window.history.go(-1);
        });
    };

    function timeToStr(time) {
        var hour = Math.floor(time / 3600);
        var min = Math.floor((time - hour * 3600) / 60);
        var second = time - hour * 3600 - min * 60;
        return prefixZero(hour, 2) + ':' + prefixZero(min, 2) + ':' + prefixZero(second, 2);
    }
</script>
</html>