<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能科技</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/common.js" type="text/javascript" charset='utf-8'></script>
    <script src="/js/sms.js" type="text/javascript" charset='utf-8'></script>
    <script type="text/x-dot-template" id="formTpl">
        <form class="loginForm" method="post">
            <h2>Sign in</h2>
            <span>登录</span>
            <input type="hidden" name="_csrf" value="{{=it._csrf}}">
            <input type="text" name="tel" placeholder="请输入手机号" value="{{=it.tel}}" autocomplete="off">
            <div class="codeBox">
                <input type="text" name="code" placeholder="请输入验证码" value="{{=it.code}}" autocomplete="off">
                <div class="code">获取验证码</div>
            </div>
            <button type="submit">登录 / 注册</button>
            <p>点击即表示同意<a href="/agreement/agreement/logon.html">《注册协议》</a></p>
        </form>
    </script>
</head>
<body>
<div class="slider">
    <img class="slider-item" src="/img/1.jpg"/>
    <img class="slider-item" src="/img/2.jpg"/>
    <img class="slider-item" src="/img/3.jpg"/>
    <img class="slider-item" src="/img/4.jpg"/>
    <img class="slider-item" src="/img/5.jpg"/>
    <div class="slider-info">
        <div>
            <h1>全球首家专业的新能源充电站投资平台</h1>
            <p>投资 | 建设 | 运营 | 维护</p>
        </div>
        <div>
            <form class="loginForm" method="post" id="form"></form>
            <script>window.html('form', 'formTpl', global);</script>
        </div>
    </div>
</div>
<script>
    window.sms({telModel: '[name="tel"]', click: '.code'});
    $('[type="submit"]').click(function () {
        if (!window.checkTel($('[name="tel"]').val())) {
            window.showMsg('请填写正确的手机号');
            return false;
        }
        if ($('[name="code"]').val().length !== 4) {
            window.showMsg('请填写正确的验证码');
            return false;
        }
        return true;
    });
</script>
</body>
</html>