<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>亿能建站-我的意向</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/center-list.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/x-dot-template" id="listTpl">
        {{?it.length}}
        {{~it:v}}
        <div class="clear">
            <h3>{{=v.no}}<span>{{=v.created}}</span></h3>
            <div class="info">
                <p>
                    场站编号:
                    <a href="/field/field/detail.html?no={{=v.field}}">
                        {{=v.field}}
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                    <span>&yen;{{=v.amount}}</span>
                </p>
                <p>场站信息: {{=v.abridge}} | {{=v.fStatusName}}</p>
                <p>股权信息: {{=v.univalence}} * {{=v.num}}</p>
                <p>
                    意向状态: {{=v.statusName}}
                    {{? v.status==0 && v.fStatus==3}}
                    <a class="pay" href="/field/intention/pay.html?no={{=v.no}}">前往支付</a>
                    {{?}}
                    {{? v.status==1 && v.fStatus==3}}
                    <a class="return" href="/user/intention/return.html?no={{=v.no}}">申请退款</a>
                    {{?}}
                </p>
            </div>
        </div>
        {{~}}
        {{??}}
        <div class="none">未查询到您的信息</div>
        {{?}}
    </script>
</head>
<body>
<div class="header">
    <i class="fa fa-angle-left fl back" aria-hidden="true"></i>
    <img class="fl back" src="/img/logo.png"/>
    <i class="fa fa-user-o fr" data-url="/user/user/center.html" aria-hidden="true"></i>
</div>
<div class="list intention-list" id="list">
</div>
<script>
    window.html('list', 'listTpl', global.data);
</script>
</body>
</html>