body {
    overflow: hidden;
}

#map {
    position: fixed;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
}

#map .zoom-control {
    right: 0.25rem !important;
    top: 0.25rem !important;
}

.back {
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    z-index: 999;
}

.city {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.42rem;
    border-radius: 0.14rem;
    color: #333333;
    background: #fefefe;
    z-index: 999;
    padding: 0 0.24rem;
    box-sizing: border-box;
}

.city > img {
    margin-top: 0.19rem;
    width: 0.42rem;
    height: 0.42rem;
}

#info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9rem;
    z-index: 999;
    background: #fefefe;
    padding: 0.5rem;
    color: #333333;
    display: none;
    box-shadow: 0 -0.05rem 0.1rem rgba(0, 0, 0, 0.2);
}

#info > .fl {
    width: 7.5rem;
}

#info > .fl > h3 {
    height: 0.82rem;
    line-height: 0.82rem;
    font-size: 0.52rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#info > .fl > h3 > a {
    color: #333333;
}

#info > .fl > a {
    height: 0.72rem;
    line-height: 0.72rem;
    font-size: 0.4rem;
    color: #333333;
}

#info > .fl > p {
    height: 1.1rem;
    line-height: 0.55rem;
    font-size: 0.4rem;
    color: #888888;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#info > .fr {
    width: 1.5rem;
    text-align: right;
}

#info > .fr > i {
    margin-top: 0.85rem;
    display: inline-block;
    height: 1.2rem;
    line-height: 1.08rem;
    width: 1.2rem;
    text-align: center;
    font-size: 0.72rem;
    color: #3366ff;
    border: 2px solid #3366ff;
    box-sizing: border-box;
    border-radius: 0.2rem;
}