body {
    background: #EFEFEF;
}

.orders {
    width: 10rem;
    font-size: 0.42rem;
    color: #333333;
    padding: 0.25rem;
    box-sizing: border-box;
}

.orders > li {
    width: 100%;
    margin-bottom: 0.25rem;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.orders > li:last-child {
    margin-bottom: 0;
}

.orders > li > p {
    height: 0.62rem;
    line-height: 0.62rem;
    font-size: 0.36rem;
    color: #999999;
}

.orders > li > ul {
    background: #fefefe;
    border-radius: 0.06rem;
    padding: 0 0.25rem 0.12rem 0.25rem;
    box-sizing: border-box;
}

.orders > li > ul > li {
    line-height: 0.7rem;
}

.orders > li > ul > .status {
    height: 1rem;
    line-height: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid silver;
    font-size: 0.45rem;
}

.orders > li > ul > .status > i {
    float: right;
    font-size: 0.5rem;
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: right;
}

.orders > li > ul > li > label {
    color: #999999;
}

.orders > .none > div {
    width: 100%;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    background: #fefefe;
    border-radius: 0.06rem;
    padding: 0 0.25rem 0.12rem 0.25rem;
    box-sizing: border-box;
}

